.zGMAGroupTileTitle {
    color: #FFF !important;
    font-size: 20px !important;
    text-shadow: none !important;
}



/* Spinner animation */
@keyframes spinner {
    to {transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
.spinner {
    /*min-width: 50px;
    min-height: 50px;*/
}
.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -15px;
    margin-left: -15px;
}
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #03ade0;
    border-bottom-color: #03ade0;
    animation: spinner .8s ease infinite;
    -webkit-animation: spinner .8s ease infinite;
}